<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7b387f7-5de1-4709-82bb-ffd387990fb7" Alias="GROWTH MARKETING" Level="3">
  <Info>
    <Parent Key="5a23dec9-2137-4d01-8a78-5baeeb0e1126">Services</Parent>
    <Path>/Home/Services/GROWTHMARKETING</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2023-12-19T15:40:16</CreateDate>
    <NodeName Default="GROWTH MARKETING" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65f17496-3e73-42fa-823f-253c9a7f2330">Service</Template>
  </Info>
  <Properties>
    <servicesDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur. Elit nunc hendrerit turpis scelerisque urna neque. Quis in elementum mauris dis amet metus tellus.]]></Value>
    </servicesDescription>
    <serviceTitle>
      <Value><![CDATA[GROWTH MARKETING]]></Value>
    </serviceTitle>
  </Properties>
</Content>