<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5d8147a-292d-4a3e-b06f-c2eab4b0e24e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-12-19T13:04:20</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2550f650-45e8-44d3-905b-00351469fe6d">Home</Template>
  </Info>
  <Properties>
    <homeSectionList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1cd38ee8643b4c29a7f09d9eeb2a2655"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a7a61c8d-a65c-4300-bec0-a8681482cc84",
      "udi": "umb://element/1cd38ee8643b4c29a7f09d9eeb2a2655",
      "mastheadContent": "<h2 class=\"promo-title\">BEST DIGITAL AGENCY</h2>\n<p>Lorem ipsum dolor sit amet consectetur. Elit nunc hendrerit turpis scelerisque urna neque. Quis in elementum mauris dis amet metus tellus apsn.</p>",
      "mastheadVideoCTETitle": "Watch Tutorial",
      "mastheadVideoCTEUrl": "https://www.youtube.com/watch?v=HxCAZe_FaFY"
    }
  ],
  "settingsData": []
}]]></Value>
    </homeSectionList>
  </Properties>
</Content>