<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a23dec9-2137-4d01-8a78-5baeeb0e1126" Alias="Services" Level="2">
  <Info>
    <Parent Key="e5d8147a-292d-4a3e-b06f-c2eab4b0e24e">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2023-12-19T15:38:44</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8acbc389-5924-4950-a624-ece791e69458">Services</Template>
  </Info>
  <Properties>
    <servicesTitle>
      <Value><![CDATA[Our Services]]></Value>
    </servicesTitle>
  </Properties>
</Content>