################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DigitalAgency.Web/appsettings.json
/.vs/DigitalAgency
/DigitalAgency.Web/appsettings-schema.json
/DigitalAgency.Web/appsettings.Development.json
/DigitalAgency.Web/wwwroot/lib/tinymce/license.txt
