<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="838cfcbb-2804-4c9c-a260-fd3f575817db" Alias="aboutUs" Level="1">
  <Info>
    <Name>About Us</Name>
    <Icon>icon-mindmap color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>AboutUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d8a560c9-e4b2-4ea3-a932-40732bd99284">AboutUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3f7f2afe-c8cf-4208-9d47-0317e0ac6378</Key>
      <Name>About Us Title</Name>
      <Alias>aboutUsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aboutUs">About Us</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1ea660b7-ca1d-44c7-8016-a85b103e4691</Key>
      <Caption>About Us</Caption>
      <Alias>aboutUs</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>