<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1dd80b8a-8963-4dfb-8e96-deccb495e77f" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2550f650-45e8-44d3-905b-00351469fe6d">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="07e92d90-148c-4d48-a605-e5ef7ab794f1" SortOrder="0">services</ContentType>
    <ContentType Key="838cfcbb-2804-4c9c-a260-fd3f575817db" SortOrder="1">aboutUs</ContentType>
    <ContentType Key="f57ac3ed-5131-4c95-8acc-82d4c3ef4c0c" SortOrder="2">testimonials</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>37bb9161-d07f-429c-a170-0da16bc99c2e</Key>
      <Name>Home Section List</Name>
      <Alias>homeSectionList</Alias>
      <Definition>a290f380-7923-4d1d-975a-21ebba53bd3f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sectionList">Section List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8ec6d63e-0117-48e7-bda7-ba013802ca2f</Key>
      <Caption>Section List</Caption>
      <Alias>sectionList</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>