<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07e92d90-148c-4d48-a605-e5ef7ab794f1" Alias="services" Level="3">
  <Info>
    <Name>Services</Name>
    <Icon>icon-app color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Collection/Service</Folder>
    <Compositions />
    <DefaultTemplate>Services</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8acbc389-5924-4950-a624-ece791e69458">Services</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3eaebd48-2136-4355-bd0f-e8fa99dcc33d" SortOrder="0">service</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>039a56fe-73f3-462c-8587-7802cbf201c5</Key>
      <Name>Services Title</Name>
      <Alias>servicesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6d5e69af-a023-470c-860c-96abe7c9cfb1</Key>
      <Caption>Services</Caption>
      <Alias>services</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>