<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="430e5a99-ae0c-4ef6-a7f9-6ad0c76d8012" Alias="socialMediaCollection" Level="3">
  <Info>
    <Name>Social Media Collection</Name>
    <Icon>icon-handshake color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Collection/Social+Media</Folder>
    <Compositions />
    <DefaultTemplate>SocialMediaCollection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e5f1c2c3-9fdc-4c5b-be7f-967251f79bcb">SocialMediaCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="740b9347-753c-4d91-a8b8-d7e99295dcb8" SortOrder="0">socialMedia</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>